    nav {
    margin-top: 20px;
    margin-bottom: 50px;
    }
    .navbar {
    background-color: var(--bg-navbar);

    }
    ul.list {
    border: 1px solid var(--blue-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 400;
    }
    .header li {
    
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    }


    .header span img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--blue-color);
    }
    .header span img:hover {
    scale: 1.3;
    }

    .header ul.list li .nav-link {
    position: relative;
    }
    .header ul.list li .nav-link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: var(--blue-color);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    }
    .header ul.list li .nav-link:hover,
    .header ul.list li .nav-link:hover::after,
    .header ul.list li .nav-link:focus::after {
    width: 89%;
    color: var(--blue-color);
    }
    @media screen and (max-width: 992px) {
    .header ul.list li.last a:last-child:hover::after {
        width: 0%;
        color: var(--blue-color);
    }
    }
    .header ul.list li a {
    color: var(--title);
    }

    .navbar .navbar-toggler {
    color: var(--title);
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-navbar);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0 !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: solid var(--blue-color)
    }
    .navbar .navbar-toggler:focus {
    box-shadow: none;
    }
    .navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--blue-color);
    }

    .navbar .dark {
    color: var(--title);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-navbar);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    border: 1px solid var(--blue-color);
    }

    .navbar .navbar-toggler:hover {
    border-color: rgb(244, 165, 96) !important;
    }
    .navbar .dark:hover {
    border: 1px solid rgb(244, 165, 96) !important;
    }
    .navbar .dark:active {
    scale: 0.9;
    }
